body {
	background-color: lavender;
}

.menustyle {
	background-color: red;
	font-family: Arial;
	font-size: 30px;
	text-align: center;
}

.navigation {
	list-style-type: none;
	margin: 0;	
}


.paragraph {
	background-color: white;
	margin-right: auto;
	margin-left: auto; 
	opacity: 80%;
	width: 60%;
}

li {
	display: inline-block;
	padding: 20px;
}

iframe {
	width: 30%;
	height: 40%;
	vertical-align: text-bottom;

}

h1 {
	margin: 0;
}

p {
	margin: 0;
}
	
a:link {
	color: #E8670C;
	text-decoration: none;
} 

a:visited {
	color: #FFC30D;
	text-decoration: none;
 }

a:hover {
	color: #00B233;
	text-decoration: none;
 }

a:active {
	color: #E8670C;
	text-decoration: none;
 }
